@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #21222A;
  color: white;
  align-items: center;
  transition: all 0.3s ease;
  border-bottom: solid 2px #282D35;
}

nav.light {
  background-color: #fdfdff;
  color: #61DAFB;
  border-bottom: solid 2px rgb(227, 227, 227);
}

.nav--icon {
  width: 30px;
}

.nav--logo_text {
  color: #61DAFB;
  margin-left: 8px;
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
  padding: 0;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
  padding: 0;
}

main {
  padding: 46px 28px;
  background-color:#282D35;
  color: white;
  height: 100vh;
  position: relative;
  transition: all 0.3s ease;
}

main.light {
  background-color:#fcfdff;
  color: #282D35;
}

.main--title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  letter-spacing: -0.05em;
}

.main--list {
  margin-top: 24px;
  z-index: 2;
}

.main--list > li {
  line-height: 20px;
  padding-block: 10px;
}

.main--list > li::marker {
  color: #61DAFB;
  font-size: 20px;
}

.main--image {
  background-image: url('logo.svg');
  top: 30%;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.1;
  filter: grayscale(100%);
  z-index: 1;
  height: 520px;
  width: 520px;
  top: 0;
  right: -260px;
}

.toggler {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 12px;
}

.toggler--slider {
  width: 30px;
  background-color: #DEEBF8;
  border-radius: 50px;
  height: 16px;
  position: relative;
  transition: all 0.5s ease;
}

nav.light .toggler--slider {
  background-color: #21222A;
}

.toggler--slider--circle {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #21222A;
  top: 1px;
  right: 1px;
}

nav.light .toggler--slider--circle {
  background-color: #fcfdff;
  top: 1px;
  left: 1px;
}
